@using TorrentsWebApp.Helpers
@using TorrentsWebApp.Entities


@model Torrent
@{
    ViewData["Title"] = "Content";
}

<h1>Content</h1>
<h2>@Html.SourceStr(Model.Forum?.Value, "1" )</h2>
<a>@Model.Id.</a>
<a>@Model.Title</a>
<a>@Html.Raw(Model.Content)</a>

<a>@Model.Dir</a>

@*<p>@Html.Raw(Model)</p>*@

<input type="button" value="Кнопка" onClick='history.go(-1)'> @*JS*@

