@using TorrentsWebApp.Helpers
@using TorrentsWebApp.Entities


@model Torrent
@{
    ViewData["Title"] = "Content";
}

<h1>Content</h1>
<p>@Html.SourceStr(Model.Forum?.Value, "1" )</p>
<a> Id торрента: @Model.TorrentId</a>
<h1>@Model.Title</h1>
<a>@Html.Raw(Model.Content)</a>

<h1>@Model.Dir</h1>
@Html.CreateList(Model.Files.ToArray())

@*<p>@Html.Raw(Model)</p>*@

<input type="button" value="Кнопка" onClick='history.go(-1)'> @*JS*@

