@using TorrentsWebApp.Models
@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel


<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td, th {
        padding: 3px;
        border: 1px solid #000; /* Параметры рамки */
    }

    th {
        background: #afd792;
        color: #333; /* Цвет текста */
    }

    tbody tr:hover {
        background: #f3bd48; /* Цвет фона при наведении */
        color: #fff; /* Цвет текста при наведении */
    }
</style>
<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<div class="text-center">
    <h1 class="display-4">Table Torrents</h1>
    <table class="table">
        <tr>
            <td>
                ID
            </td>
            <td>
                Дата регистрации
            </td>
            <td>
                Название
            </td>
            <td>
                Размер(Б)
            </td>
            <td>
                Tracker ID
            </td>
        </tr>
        @foreach (Torrents i in Model.torrents)
        {
            <tr><td><a href="Content/@i.Id" />@i.Id</td><td>@i.RegistredAt</td><td>@i.Title</td><td>@i.Size Byte</td><td>@i.TrackerId</td></tr>
        }
    </table>

    @if (Model.PageInfo.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageInfo.PageNumber - 1)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageInfo.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageInfo.PageNumber + 1)"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
